<div *ngIf="listOfAssets" class="assets-container">
  <div *ngFor="let asset of listOfAssets">
    <div (click)="onClickAsset(asset.asset_id)" class="asset-container">
      <img
        class="asset-img"
        [src]="
          baseUrl.concat(asset.rendition_content.thumbnail_content.url)
            | protectedImage
            | async
        "
        alt="thumbnail"
      />
      <h3>{{ asset.name }}</h3>
    </div>
  </div>
</div>
<div *ngIf="listOfAssets.length===0">
  No results found! Retry with other keyword
</div>
